{
    "plugins": [
        [
            "import",
            {
                "libraryName": "patsnap-biz",
                "customName": name => `@patsnap-biz/${name}`,
                "style": name => `${name}/lib/style`
            }
          ]
    ]
  }